mixin option(props, parentId)
  .option
    span.option__name= props.name
    .option__controls
      button.increment(
        class=`${props.value === 0 ? "increment--disabled" : ""}`
      ) -
      span.option__value= props.value
      button.increment +

//- TODO: deal with style dependencies on .input (extract them or something)
mixin dropdown(props)
  .input
    label.input__label(for=props.id)
      span.input__title= props.title
      span.input__description= props.description
    .dropdown-container
      button.dropdown.dropdown--expanded(id=props.id)
        span.dropdown__select(data-plural=props.select.plural)= props.select.title
        i.dropdown__icon-expand
      .dropdown__content
        each item in props.options
          +option(item, props.id)
        .dropdown__controls
          button.dropdown__control.dropdown__control--gray.invisible Очистить
          button.dropdown__control Применить
