mixin input(props)
  .input
    label.input__label(for=props.id)
      span.input__title= props.title
      span.input__description= props.description
    input.input__field(type=props.type, placeholder=props.placeholder, id=props.id)
