mixin input({ id, title, description, type, placeholder })
  .input
    label.input__label(for=id)
      span.input__title= title
      span.input__description= description
    input.input__field(type=type, placeholder=placeholder, id=id)
