mixin dropdown({ id, title, description, dataKey, contentId, text })
  .input
    label.input__label(for=id)
      span.input__title= title
      span.input__description= description

    button.dropdown(id=id, data-datakey=dataKey, data-contentid=contentId)
      span.dropdown__text= text
      i.dropdown__icon-expand
      