include /components/common/dropdown/dropdown.pug
include /components/common/dropdown-content/dropdown-content.pug
include /components/date-picker/date-picker.pug

mixin filter-date-dropdown({ id, dataKey, title, text })
  -
    var dropdownId = `${id}-dropdown`
    var pickerId = `${id}-picker`
    var contentId = `${id}-content`
  
  .filter-date-dropdown(id=id, class="container-relative", data-datakey=dataKey)
    +dropdown({
      id: dropdownId,
      title, dataKey, text, contentId
    })
    +dropdown-content({
      id: contentId,
      dataKey,
      modifier: "separate"
    })
      +date-picker({id: pickerId, dataKey})
