include /components/common/save-controls/save-controls.pug

mixin option({ name, value })
  .option
    span.option__name(data-plural=plural)= name
    .option__controls
      button.increment(
        class=`${value === 0 ? "increment--disabled" : ""}`
      ) -
      span.option__value= value
      button.increment +

//- TODO: deal with style dependencies on .input (extract them or something)
mixin options({ id, dataKey, plural, detailed, options, useControls })
  .options(id=id, data-datakey=dataKey, data-plural=plural, data-detailed=detailed)
    each item in options
      +option(item, id)
    
    if useControls
      +save-controls({
        classNames: {
          container: "options__controls",
          clear: "options__control",
          apply: "options__control"
        }
      })
