mixin checkbox({ id, name, text, checked, toggle })
  .checkbox
    input.checkbox__input(
      type="checkbox", 
      id=id, name=name, 
      checked=checked,
      class=toggle ? "checkbox__input--toggle" : ""
    )
    label.checkbox__label(for=id)= text
