//- extends ../common/dropdown/dropdown.pug
//- include ../common/dropdown/dropdown.pug
include ../common/save-controls/save-controls.pug

mixin option(props, parentId)
  .option
    span.option__name= props.name
    .option__controls
      button.increment(
        class=`${props.value === 0 ? "increment--disabled" : ""}`
      ) -
      span.option__value= props.value
      button.increment +
  
//- TODO: deal with style dependencies on .input (extract them or something)
mixin options(props)
  .options(id=props.id, data-datakey=props.dataKey, data-plural=props.plural)
    each item in props.options
      +option(item, props.id)
    +save-controls({
      classNames: {
        container: "dropdown__controls",
        clear: "dropdown__control",
        apply: "dropdown__control"
      }
    })
